@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    scroll-behavior: smooth;
}

body {
    font-family: Poppins;
    line-height: 1.5;
    
    background-size: contain;
    background-image: url('C:\Users\meljun polillo\Downloads\Free Vector _ Digital global technology banner with circuit diagram.jpg');
    background-position: center;
    
}

header {
    width: 40%;
    padding: 10px 5%;
    justify-content: space-between;
    align-items: center;
    color:rgb(130, 103, 211);
}

.logo h1 {
    margin: 10px;
    font-size: 20px;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    color: rgb(52, 26, 225);
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: rgb(22, 55, 164);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 600;
    margin-left: 10px;
}

.menu li a:hover {
    color: #ece4d7;
}

.main {
    margin: 0 auto;
    padding: 20px;
}

.hero {
    color: white;
    text-align: center;
    padding: 200px 0;
}

.hero h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    display: inline-block;
    padding: 40px 80px;
    background-color: lightseagreen;
    color: blue;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color:rgb(83, 158, 223);
}

.section {
    padding: 60px 0;
    text-align: center;
}

.about h2 {
    font-size: 50px;
    color: rgb(255, 187, 0);
    margin-top: 100px;
    margin-bottom: 70px;
}

.about h3 {
    font-size: 40px;
    color:rgb(255, 162, 0);
    margin-left: 10%;
}

.about h4 {
    text-align: left;
    margin-left: 15%;
    font-size: 40px;
    font-weight: 800;
    color: rgb(255, 162, 0);
    margin-bottom: 40px;
    margin-top: 40px;
}

.about p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

h2, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul{
	margin-left: 23%;
    margin-top: 20px;
}

ul li {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;

}

input, 
textarea, 
button {
    width: 30%;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #0b0909;
    background-color: transparent;
}

button {
    background-color: #097bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 5%;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgb(11, 41, 49);
    color: #fff;
    text-align: center;
    padding: 20px 10%;
    position: relative;
}